@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

/* ======== General ============== */
.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ========== NavBar CSS ============== */

header.header {
  background-color: #1a2939;
}

header nav {
  position: relative;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

header nav .mobile-bar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  display: none;
}

.checkbtn {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

header a.logo {
  color: #ed2853;
  font-size: 30px;
  font-weight: 300;
  display: block;
}

header a.logo span {
  color: #fff;
  font-weight: 500;
}

header nav ul.menu-items {
  display: flex;
  align-items: center;
}

header nav ul.menu-items li {
  display: inline-block;
  line-height: normal;
  margin: 0 10px;
  cursor: pointer;
}

header nav ul.menu-items li:last-child {
  margin-right: 0;
  border: none;
  /* padding: 1px 20px; */
  border: 1px solid #f12953;
  background: #f12953;
  box-shadow: inset 0 0 20px 10px #d3133b;
  transition: all 0.5s;
}

header nav ul li a {
  color: white;
  font-size: 0.7rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  display: block;
}

.menu-btns {
  margin-left: 20px;
}

header nav .menu-btns ul li {
  border: 1px solid #fff;
  padding: 10px 20px;
  margin: 0 4px;
  border-radius: 5px;
}

header nav .menu-btns li:last-child:hover {
  background-color: transparent;
  box-shadow: inset 0 0 20px 10px transparent;
  border: 1px solid #fff;
}

header nav .menu-btns li:last-child:hover a {
  color: #ed2853;
}

header nav .menu-btns li:hover {
  border: 1px solid #f12953;
  background: #f12953;
  box-shadow: inset 0 0 20px 10px #d3133b;
  transition: all 0.5s;
  color: #fff;
}

header nav ul.menu-items > li a:hover,
header nav ul.menu-items > li a.active {
  background-color: none;
  color: #ed2853;
}

header nav ul li a:hover {
}

@media screen and (max-width: 952px) {
  header label.logo {
    color: #ed2853;
  }

  header nav ul li a {
    color: white;
    font-size: 16px;
  }
}

@media screen and (max-width: 1260px) {
  header nav .mobile-bar {
    display: block;
  }

  header nav ul.menu-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #1a2939;
    top: 64px;
    left: -100%;
    text-align: center;
    transition: 0.5s;
    z-index: 100;
  }

  header nav ul.menu-items {
    flex-direction: column;
  }

  header nav ul.menu-items li {
    display: block;
    margin-top: 1.5rem;
  }

  .menu-items.active {
    left: 0;
  }
}

/* ========== Main Hero CSS ============ */

.companyz-hero {
  background-image: url(images/MainHeaderImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.companyz-hero > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

.heading p {
  font-size: 32px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.heading h1 {
  font-size: 55px;
  text-align: center;
  color: white;
}

.cta-btns {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.cta-btns > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #ed2853;
  min-height: 74px;
  min-width: 270px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px -5px #d3133b;
  transition: all 0.5s ease;
}

.cta-btns > a:first-child {
  background-color: #fff;
  color: #ed2853;
  box-shadow: none;
}

.cta-btns > a:hover {
  background-color: transparent;
  color: #fff;
  box-shadow: none;
  border: 1px solid #fff;
}

@media screen and (max-width: 860px) {
  .cta-btns > a {
    min-height: 50px;
    min-width: 200px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .cta-btns > a {
    min-height: 50px;
    min-width: 200px;
    font-size: 14px;
  }

  .cta-btns {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
  }

  .heading p {
    font-size: 24px;
  }

  .heading h1 {
    font-size: 42px;
    text-align: center;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .companyz-hero > div {
    height: 60vh;
  }

  .phone-image img {
    right: 15px;
  }
}

/* ========== Service Widgets CSS ========= */
.service-widgets {
  background-image: url(images/IconBG.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.service-widgets > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 40vh;
  padding: 60px 0;
}
.service-widgets > div > .icon-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  justify-content: center;
  gap: 30px;
}

.icon-widget {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-widget > div {
  height: 70px;
  width: 70px;
}

.icon-widget > div img {
  max-width: 100%;
}

.icon-widget > h3 {
  margin-top: 1.5rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a2939;
  font-size: 1rem;
  text-align: center;
}

.services-info {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  width: 93%;
  flex-wrap: wrap;
  margin-top: 20px;
}

.services-info p {
  font-size: 14px;
}

@media screen and (max-width: 1160px) {
  .services-info {
    margin-top: 50px;
    gap: 10px;
  }

  .services-info > p {
    width: 100%;
  }

  .icon-widget > h3 {
    display: block;
  }
}

@media screen and (max-width: 860px) {
  .service-widgets > div > .icon-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    gap: 30px;
  }

  .icon-widget > div {
    height: 50px;
    width: 50px;
  }

  .icon-widget > h3 {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 767px) {
  .service-widgets > div > .icon-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    gap: 30px;
  }

  .icon-widget > div {
    height: 50px;
    width: 50px;
  }

  .icon-widget > h3 {
    margin-top: 1.5rem;
    font-size: 0.8rem;
  }

  .service-widgets > div {
    padding: 60px 40px;
  }
}

/* ========== About Section ========== */
section.about-section > div {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  gap: 50px;
  padding: 50px 0;
}

.about-info-box > h3 {
  font-size: 24px;
  color: #1a2939;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 34px;
}

.about-info-box > a {
  display: block;
  border-bottom: 2px solid #ed2853;
  width: fit-content;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 50px;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}

.about-info-box > a:hover {
  letter-spacing: 4px;
}

.about-info-box > p {
  line-height: 24px;
  min-height: 144px;
}

@media screen and (max-width: 860px) {
}

@media screen and (max-width: 767px) {
  section.about-section > div {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
  }

  .about-info-box > p {
    line-height: 24px;
    min-height: unset;
  }
}

/* =========== Award Section =========== */
.awards-section {
  padding: 90px 0;
  background-image: url(/images/AwardWinningPlatformStrip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.awards-section .award-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  color: #ffffff;
}

.grid-block {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 30px;
}

.grid-block h2 {
  font-size: 54px;
  color: #ffffff;
  font-weight: 300;
}

.grid-block .box-content > a {
  margin-top: 50px;
  display: block;
  color: #ffffff;
  text-transform: uppercase;
  border-bottom: 2px solid #ffffff;
  width: fit-content;
  padding-bottom: 5px;
  letter-spacing: 3px;
  transition: all 0.5s ease;
}

.grid-block .box-content > a:hover {
  letter-spacing: 4px;
}

.award-icon {
  width: 48px;
  height: 63px;
  margin-bottom: 20px;
}

.award-icon > h4 {
  font-size: 15px;
  font-weight: bold;
  line-height: 19px;
}

.grid-box > p {
  font-size: 12px;
  font-weight: bolder;
  line-height: 19px;
}

.award-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 860px) {
  .awards-section .award-grid {
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    gap: 50px;
  }

  .grid-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .grid-block h2 {
    text-align: center;
    font-size: 42px;
  }

  .grid-block .box-content > a {
    text-align: center;
    margin: 50px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
}

/* ============= CTA Section CSS ============== */

.cta-section .offer-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  align-items: center;
  gap: 50px;
}

.phone-image {
  position: relative;
  width: 290px;
  height: 500px;
}

.phone-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: -55px;
  right: -130px;
  bottom: 0;
}

.offer-info {
  grid-column: 2 / span 2;
}

.offer-info > p {
  font-size: 24px;
  color: #4a4a4a;
  line-height: 34px;
  max-width: 700px;
  font-weight: 300;
}

.offer-info a {
  display: block;
  margin-top: 80px;
  width: fit-content;
  padding: 22px 42px;
  border-radius: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: bold;
  background-color: #ed2853;
  border: 2px solid #ed2853;
  box-shadow: inset 0 0 20px -5px #d3133b;
  transition: all 0.5s ease;
}

.offer-info a:hover {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #ed2853;
  color: #ed2853;
}

@media screen and (max-width: 1200px) {
  .phone-image img {
    right: -50px;
  }
}
@media screen and (max-width: 1020px) {
  .phone-image img {
    right: 0px;
  }
}

@media screen and (max-width: 830px) {
  .phone-image img {
    right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .cta-section .offer-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
  .phone-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    right: 0;
  }

  .offer-info {
    top: -80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .offer-info a {
    margin-top: 40px;
  }
}

@media screen and (max-width: 480px) {
  .offer-info a {
    font-size: 10px;
    padding: 15px 20px;
  }
}

/* ========== Footer CSS ========= */
footer.companyz-footer {
  background-color: #1a2939;
  padding: 50px 0;
}
footer.companyz-footer > div {
  display: flex;
  color: #ffffff;
  gap: 50px;
  justify-content: space-between;
}

footer.companyz-footer > div > div {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

.footer-col-1 p {
  font-size: 11px;
}

.footer-col-1 .col-1-list {
  margin-top: 30px;
}

.footer-col-1 .col-1-list > ul,
.footer-col-2 ul {
  display: flex;
  gap: 20px;
}

.col-1-list > ul li a,
.footer-col-2 > ul li a {
  color: #ffffff;
  display: block;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s;
}

.footer-col-2 > ul,
.company-socials {
  align-self: end;
}

.company-socials {
  display: flex;
  gap: 10px;
}

.company-socials a {
  display: block;
}

.company-socials a img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  transition: all 0.2s;
}

.company-socials a img:hover {
  filter: invert(70%) sepia(46%) saturate(5555%) hue-rotate(333deg)
    brightness(95%) contrast(95%);
}

.col-1-list > ul li a:hover,
.footer-col-2 > ul li a:hover {
  color: #ed2853;
}

@media screen and (max-width: 979px) {
  footer.companyz-footer > div {
    display: flex;
    color: #ffffff;
    gap: 20px;
    flex-direction: column;
    justify-content: unset;
  }

  footer.companyz-footer > div > .footer-col-2 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    min-height: 0px;
  }

  .company-socials {
    display: flex;
    gap: 10px;
    order: -1;
  }
}
@media screen and (max-width: 767px) {
  footer.companyz-footer > div {
    display: flex;
    color: #ffffff;
    gap: 20px;
    flex-direction: column;
    justify-content: unset;
  }

  footer.companyz-footer > div > div {
    align-items: center;
  }

  footer.companyz-footer > div > .footer-col-2 {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 0px;
    gap: 12px;
  }

  .company-socials {
    display: flex;
    gap: 10px;
    order: 0;
  }

  .footer-col-2 > ul,
  .company-socials {
    align-self: unset;
  }
}

@media screen and (max-width: 520px) {
  .footer-col-1 .col-1-list > ul,
  .footer-col-2 ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  footer.companyz-footer > div > .footer-col-2 {
    gap: 30px;
  }
}

/* ============= General Media Query =========== */

@media screen and (max-width: 1330px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
